.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.tile-background {
    background: #ecf0f1;
}

.tile-selected {
    border: 2px solid #00BCD4;
}

.stepper-buttons {
    text-align: center;
}

.cloudinary-dropzone {
    height: 200px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
}

.image-rotate {
    width:70px !important;
    height:70px !important;
    margin: 50px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    transform: none !important;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); transform:rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.image-circumference {
    margin: 50px;
    animation: small-rot 3s infinite linear;
    width:70px !important;
    height:70px !important;
}

@keyframes small-rot {
    from {
        transform: rotate(0deg)
        translate(-45px)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(-45px)
        rotate(-360deg);
    }
}

.final-image-container{
    position: relative;
}

.final-galaxy-selected{
    width: 100%;
    height: 100%;
}

.final-animation-rotation{
    position: absolute;
    width:70px;
    height:70px;
    bottom: 200px;
    right: 315px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.final-animation-circumference{
    position: absolute;
    margin: 50px;
    bottom: 130px;
    right: 280px;
    animation: large-rot 3s infinite linear;
    width:70px !important;
    height:70px !important;
}

@keyframes large-rot {
    from {
        transform: rotate(0deg)
        translate(-100px)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(-100px)
        rotate(-360deg);
    }
}

.finish-card {
    padding-top: 20px;
}